{% extends 'Tracker/base.html' %}

{% block content %}

<h2 class="heading-main text-center mb-4">Your Expenses</h2>

<div class="row g-4 justify-content-center">

    {% for expense in expenses %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <div class="card card-custom p-3">

            <h5 class="fw-bold">{{ expense.title }}</h5>

            <p class="expense-amount">₹{{ expense.amount }}</p>

            <span class="category-badge">{{ expense.category }}</span>

            <p class="mt-2 text-muted small">{{ expense.date }}</p>

            {% if expense.description %}
            <p class="small">{{ expense.description }}</p>
            {% endif %}

        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}
